#top-left {
    border: 1px solid black;
    height: 199px;
    width: 200px;
}

#middle-left{
    
    border: 1px solid black;
    height: 200px;
    width: 200px;
    
}
#bottom-left{
    border: 1px solid black;
    height: 200px;
    width: 200px;
}
#bottom-middle{
    position: relative;
    border: 1px solid black;
    height: 200px;
    width: 200px;
    left: 200px;
    bottom: 202px;
}
 #middle-middle{
    position: absolute;
    border: 1px solid black;
    height: 200px;
    width: 200px;
    left:208px;
    bottom: 409px;
}

#top-middle{
    position: relative;
    border: 1px solid black;
    height: 200px;
    width: 200px;
    left:200px;
    bottom: 807px;
}

#top-right{
    position: absolute;
    border: 1px solid black;
    height: 202px;
    width: 200px;
    bottom: 609px;
    left: 409px;    
}

#middle-right{
    position: absolute;
    border: 1px solid black;
    height: 200px;
    width: 200px;
    bottom: 409px;
    left: 409px;   
}
#bottom-right{
    position: absolute;
    border: 1px solid black;
    height: 202px;
    width: 200px;
    bottom: 207px;
    left: 409px;  
}

#message{
    position: absolute;
    height: 100px;
    width: 400px;
    bottom: 90px;
    left: 260px;

}
#block-1{
    position: relative;
    height: 200px;
    border: 1px solid black;
    width: 200px;
    bottom: 405px;
    left: 0px;
}
#block-2{
    position: relative;
    height: 200px;
    border: 1px solid black;
    width: 200px;
    bottom: 607px;
    left: 200px;
}
#block-3{
    position: relative;
    height: 200px;
    border: 1px solid black;
    width: 200px;
    bottom: 809px;
    left: 401px;
}
#block-4{
    position: relative;
    height: 200px;
    border: 1px solid black;
    width: 200px;
    bottom: 1011px;
    left: 601px;
}
#block-5{
    position: relative;
    height: 200px;
    border: 1px solid black;
    width: 200px;
    bottom: 1415px;
    left: 601px;
}
#block-6{
    position: relative;
    height: 200px;
    border: 1px solid black;
    width: 200px;
    bottom: 1818px;
    left: 601px;
}
#block-7{
position: relative;
height: 200px;
border: 1px solid black;
width: 200px;
bottom: 2221px;
left: 601px;
}